<!--content-33 -->
<div{% if wp_mode %} class="dm-template" dm-template="content.content33" component-id="{{ component_id }}"{% endif %}>
    <section class="content-33">
        <div class="container">
            <p {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.description"{% endif %} class="lead">{{ description }}</p>
        </div>
    </section>
</div>