.content-33 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 125px;
  padding-bottom: 110px;
}
.content-33 .lead {
  font-size: 30px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 44px;
  color: #34495e;
  font-weight: 300;
}
